* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#footer-credits {
  text-align: center;
  border-top: 1px solid rgb(0, 0, 0, 1);
  padding-top: 2rem;

  width: max-content;
  margin: 0 auto;
  font-size: 1.2rem;
  color: rgb(0, 0, 0, 0.885);
}

footer {
  margin: 6rem 0;
}

#header-title {
  padding: 2rem 1rem;
  box-shadow: 0px 12px 22px 1px rgba(36,91, 142, 0.25);
  text-transform: capitalize;
  margin-bottom: 4rem;
  background: linear-gradient(
    90deg,
    rgba(128, 166, 206,1) 0%,
    rgba(191, 209, 229,1) 35%,
    rgba(242, 242, 248,1) 100%
  );
}

#documents-list {
  margin-top: 6rem;
}

.document-size {
  color: rgb(0, 0, 0, 0.45);
  margin-top: 4px;
  font-size: 15px;
  margin-left: 0.2rem;
}

.document-name {
  font-size: 20px;
  font-weight: bold;
  margin-right: 0.3rem;
}

#subtitle {
  margin-bottom: 4rem;
  font-weight: 300;
}

#all-documents-container {
  margin: 4rem;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: auto;
  flex-direction: column;
  gap: 3rem;
  margin: 4rem auto;
}

#all-documents-container p {
  padding: 1rem 0.25rem;
  margin-bottom: 0.4rem;
  font-size: 2rem;
}

#all-documents-container p:hover,
#all-documents-container p :hover {
  cursor: pointer;
}

#document-container {
  margin-bottom: 0.4rem;
  width: 80vw;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(26, 104, 88, 0.35);
  border-bottom: 1px solid rgb(0, 0, 0, 0.25);
}

#all-documents-container .fetched-document-size {
  font-size: 1.1rem;
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

#file-upload-input {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-bottom: 6rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-shadow: 0px 12px 22px 1px rgba(0, 0, 100, 0.07);
  border-radius: 6px;
}

#selected-upload-document-container {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: 80% 15% 5%;
  width: 40vw;
  text-align: left;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 1rem;
  border-radius: 32px;
}

#selected-upload-document-container > div {
  display: grid;
}

#view-container {
  min-height: 80vh;
}
